ul li {
  list-style: none !important;
  text-decoration: none !important;
}
/* Navbar */
.main-nav li {
  font-size: 18px;
  padding-left: 20px;
}
/* Navbar end */

/* Footer */
.footer-sec li {
  margin-top: 10px;
}
.footer-social-sec {
  display: flex;
  text-align: center;
}
.footer-social-sec li {
  margin-left: 14px;
  font-size: 20px;
}
/* Footer End */

/* Home Page */

/* Why Choose Section */
.why-choose-main {
  padding: 25px;
}
.why-choose-main-row {
  background-color: #f5f5f4;
  padding: 25px;
}
/* Why Choose Section End */

/* Home Page End */
